:root {
   --height-: 38px;
}

.dateOffWork,
.pleaseOffWork,
.punish,
.reportWork {
   background-color: var(--white-color);
   padding: 24px 18px 0px 26px;
   position: absolute;
   top: var(--height-menu);
   right: -12px;
   left: var(--width-sidebar);
}

.pleaseOffWork__heading,
.dateOffWork__heading {
   background-color: #e9ecef;
   padding: 20px 16px;
   display: flex;
   border-radius: 4px;
   overflow: hidden;
   cursor: pointer;
   height: 48px;
   align-items: center;
}

.pleaseOffWork__heading--icon,
.dateOffWork__heading--icon {
   color: var(--primary-color);
   display: flex;
   margin-right: 4px;

   i {
      transform: translateY(-1px);
      margin-right: 8px;
   }

   div {
      color: #007bff;
      font-weight: 300;
   }

   &:hover {
      color: blue;
   }
}

.pleaseOffWork__heading--color,
.dateOffWork__heading--color {
   font-weight: 300;
}
// please of Work

.pleaseOffWork__content--title {
   font-size: 32px;
   font-weight: 300;
   margin-top: 36px;
   margin-bottom: 16px;
}

.pleaseOffWork__content--cause {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 20px;
}

.pleaseOffWork__content__rest {
   background-color: #00c851;
}

.pleaseOffWork__content__over {
   background-color: #4285f4;
}

.pleaseOffWork__content__soon {
   background-color: #ffbb33;
}

.pleaseOffWork__content__late {
   background-color: #ff3547;
}

.pleaseOffWork__content__rest,
.pleaseOffWork__content__over,
.pleaseOffWork__content__soon,
.pleaseOffWork__content__late {
   flex: 23%;
   max-width: 23%;
   padding: 16px 0px;
   text-align: center;
   border-radius: 2px;
   color: var(--white-color);
}

.pleaseOffWork__option {
   background-color: #e0e0e0;
   display: flex;
   font-size: 18px;
   font-weight: 300;
}

.pleaseOffWork__option--time {
   flex: 1;
}

.pleaseOffWork__option--over {
   flex: 1;
   background-color: transparent;
}

.pleaseOffWork__option--time,
.pleaseOffWork__option--over {
   padding: 14px 0px;
   text-align: center;
   cursor: pointer;
}

.pleaseOffWork__option--time.active,
.pleaseOffWork__option--over.active {
   border-radius: 4px;
   color: var(--white-color);
   background-color: #4285f4;
}

.pleaseOffWork__search {
   display: flex;
   justify-content: end;
   margin: 16px 0px;

   label {
      margin-right: 10px;
      display: flex;
      align-items: center;
   }

   input {
      height: 30px;
      border-radius: 1px solid #666;
   }
}

.pleaseOffWork__list {
   display: flex;
   background-color: #e0e0e0;
   justify-content: space-evenly;
}

.pleaseOffWork__list--item {
   padding: 22px 0px;
}

.pleaseOffWork__data {
   background-color: #f2f2f2;
   border: 1px solid #dee2e6;
   padding: 12px;
   font-size: 14px;
   letter-spacing: 1.3;
   color: #888888;
}

.pleaseOffWork__none {
   margin-top: 32px;
}

// date off work
.dateOffWork__date {
   display: flex;
   align-items: center;
   margin-top: 16px;
}

.dateOffWork__date--label {
   margin-right: 8px;
   ~ .dateOffWork__date--label {
      margin-left: 12px;
   }
}

.dateOffWork__date--input {
   height: var(--height-);
   background-color: #e9ecef;
   border-radius: 4px;
   border: none;
   outline: none;
   padding: 0px 16px 0px 20px;
}

.dateOffWork__date--btn {
   height: var(--height-);
   width: 85px;
   background-color: #c494db;
   color: var(--white-color);
   text-align: center;
   margin-left: 8px;
   border: none;
   outline: none;
   border-radius: 4px;
   font-size: 20px;
   cursor: pointer;
}

.dateOffWork__infor {
   display: flex;
   justify-content: space-evenly;
   margin-top: 24px;
}
.dateOffWork__infor--wrap {
   display: flex;
   flex: 21%;
   max-width: 21%;
   height: 100px;
   border-radius: 10px;
   padding: 12px;
   align-items: center;
   cursor: pointer;
}

.dateOffWork__infor--wrap.blue {
   background-color: #4285f4;
   .dateOffWork__infor--calendar {
      background-color: inherit;
      color: inherit;
   }
}
.dateOffWork__infor--wrap.green {
   background-color: #00c851;
   .dateOffWork__infor--calendar {
      background-color: inherit;
      color: inherit;
   }
}
.dateOffWork__infor--wrap.yellow {
   background-color: #ffbb33;
   .dateOffWork__infor--calendar {
      background-color: inherit;
      color: inherit;
   }
}
.dateOffWork__infor--wrap.red {
   background-color: #ff3547;
   .dateOffWork__infor--calendar {
      background-color: inherit;
      color: inherit;
   }
}
.dateOffWork__infor--calendar {
   font-size: 30px;
   border-radius: 999px;
   padding: 6px;
   // background-color: rgb(202, 189, 189);
   margin-right: 20px;
}
.dateOffWork__infor--content {
}
.content__heading {
   font-size: 30px;
   color: var(--white-color);
   font-weight: bold;
}
.content__title {
   font-size: 12px;
   color: #ffffff80;
}

.content__title.transparent {
   color: transparent;
}
.content__time {
   color: var(--white-color);
   font-size: 12px;
   font-weight: bold;
   margin-top: 4px;
   text-transform: uppercase;
}

.dateOffWork__select {
   display: flex;
   justify-content: end;
   height: 40px;
   margin: 20px 0px;
   select {
      width: 200px;
      border-color: #cccccc;
   }
}

.dateOffWork__content {
   background-color: #e0e0e0;
   display: flex;
   justify-content: space-around;
   li {
      padding: 20px 0px;
      font-size: 14px;
   }
}
