// component Menu
.menu {
    display: flex;
    justify-content: space-between;
    background-color: #97bfe4;
    height: 75px;
    align-items: center;
    color: var(--white-color);
}

.menu__list {
    display: flex;
}

.menu__list > li  {
    margin-left: 36px;
}

.menu__personal {
    display: flex;
    margin-right: 36px;
}

.menu__personal--name {
    transform: translateY(16px);
    margin-left: 24px;
}

.arrowDown {
    font-size: 24px;
    transform: translateY(10px);
    margin-right: 24px;
}

.bell {
    transform: translateY(6px);
}

// component Notice
.notice {
    display: flex;
    height: 178px;
    padding: 8px 0px;
    background-color: #f5f5f5;
}

.notice__wrap {
    flex: 3;
    border: 1px solid black;
}

.notice__wraps {
    flex: 5;
    margin-left: 32px;
}

.notice__img {

}

.notice__name {
    font-size: 22px;
    margin: 16px 0px 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.notice__introduce {

}

.btn {
	border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(254, 44, 85, 1.0);
    min-width: 164px;
    min-height: 36px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    font-family: SofiaPro,PingFangSC,sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 6px 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: 16px;
    min-width: 100px;
}

.tippy {
    color: black;
}