.setting {}

.setting__option {
   display: flex;
   padding: 0px 6px 12px;
   justify-content: space-between;
}

.setting__option--heading {}

.setting__option--btn {}

.setting__record {
   background-color: #f6f6f6;
   padding: 16px;
}

.setting__record--fullName {
   display: flex;
   justify-content: space-between;
}

.fullName__info {}

.fullName__avata {}

.setting__record--address {}

.setting__record--knowledge {}

.setting__record--account {}

.setting__record--skill {}

.setting__record--target {}

.setting__record--hobby {}

.setting__record--lingo {}

.setting__record--note {}