.setting {}

.setting__option {
   display: flex;
   padding: 0px 6px 12px;
   justify-content: space-between;
}

.setting__option--heading {
   padding-left: 10px;
}


.heading__personal--title {
   font-size: 24px;
   margin-top: 32px;
   margin-bottom: 20px;
   font-weight: bold;
}


.setting__option--btn {
   margin-top: 16px;
}

.setting__record {
   background-color: #f6f6f6;
   padding: 16px;
}

.setting__record--fullName {
   display: flex;
   justify-content: space-between;
   padding: 16px;
}

.fullName__info {
   flex: 1;
}

.fullName__info--alias {
   font-size: 28px;
   color: #0e2452;
   font-weight: bold;
}

.list__item--list {}

.list__item {
   display: flex;
   padding-top: 32px;
}

.label {
   flex: 2;
   padding-left: 8px;
   font-size: 14px;
   color: #212529;
}

.label--info {
   flex: 3;
   padding-left: 36px;
   font-size: 14px;
   color: #212529;
}

.fullName__avata {
   flex: 1;
   justify-content: end;
   display: flex;
}

.fullName__avata i {
   font-size: 256px;
   color: #ccc;
}

.setting__record--address {
   padding: 16px;
}

.address__title {
   font-size: 24px;
   font-weight: bold;
   padding: 12px 16px 12px 0px;
   border-bottom: 1px solid black;
}

.address__list {
   display: flex;
}

.address__list--item {
   flex: 1;
   padding-left: 8px;
   padding-top: 24px;
}

.setting__record--knowledge {}

.setting__record--account {}

.setting__record--skill {}

.setting__record--target {}

.setting__record--hobby {}

.setting__record--lingo {}

.setting__record--note {}