.remainPage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(100vw - var(--width-sidebar));
    overflow: scroll;
    z-index: 10000000;
}


.remainPage__wrap {
    width: 100%;
    cursor: pointer;
}

.remainPage__wrap img {
    width: 50%;
    height: auto;
    margin: 20px 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.remain__title {
    font-size: 16px;
    color: rgb(47, 47, 214);
    text-align: center;
}

.remain__list {
    padding-left: 8px !important;
    padding-right: 8px !important;
    font-size: 13px;
}

.remain__list--item.active {
    color: var(--white-color) !important;
    background-color: var(--primary-color) !important;
    border-radius: 4px;
}

@media (max-width:768px) {
    .remainPage {
        animation: slide ease 0.5s;
    }

    .remainPage__wrap,
    .remain__title {
        background-color: #fff;
    }

}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}