.website {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    color: var(--white-color);
    width: 540px;
    height: fit-content;
    padding: 24px 32px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    overflow: hidden;
}

.login__title {
    text-align: center;
    background-color: #fff;
    background-color: #33b5e5;
    height: 74px;
    line-height: 74px;
    font-size: 20px;
    margin: -24px -32px 0;
}

.login__email,
.login__password {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #e8f0fe;
}

.login__email:focus::placeholder,
.login__password:focus::placeholder {
    background-color: var(--white-color);
    color: transparent;
}

.login__email {
    margin-top: 16px;
}

.login__password {
    margin-top: 32px;
}

.login__confirm {
    display: flex;
    justify-content: space-around;
    margin: 32px 0px;

}

.login__confirm input {
    width: 16px;
    height: 16px;
}

.login__confirm label {
    color: #000000DE;
    font-size: 18px;
}

.login__confirm span {
    color: #33b5e5;
    font-size: 18px;
    cursor: pointer;
}

.login__btn {
    width: 100%;
    background-color: #33b5e5;
    padding: 18px 0;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

// component resetPassword


.passwordReset__heading {
    width: 100%;
    height: 75px;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordReset__content {
    flex: 1;
}

// .passwordReset__content--title {
//     margin-bottom: 12px;
//     color: black;
// }

.passwordReset__content--btn {
    margin-top: 24px;
}

.login__notice {
    display: flex;
    margin-top: 24px;
    justify-content: space-around;
}

.login__notice--content {
    color: var(--primary-color);
}

.check__icon {
    color: '#007bff' !important;
    font-size: 32 !important;
    transform: translate('-27px', '-9px') !important;
}

// screen mobile
@media (max-width: 739px) {
    .login {
        width: 90vw;
        border-radius: 3px;
    }
}