// component Event
.events {
    display: flex;
    margin-bottom: 24px;
}

.wrap_img {
    flex: 4;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.wrap_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event__info {
    flex: 6;
    padding: 8px 0px 0px 32px;
}

.event__info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
}

.event__info p span {
    line-height: 1.5;
    color: palevioletred;
    font-size: 15px;
}

.event__info h4 {
    font-size: 15px;
    margin-bottom: 24px;
}

@media (max-width:768px) {
    .events {
        flex-direction: column;
    }

    .event__info {
        padding-left: 0;
    }
}
@media (min-width: 1400px) {
    .event__info h3 {
        font-size: 28px;
    }
}

// component rating
:root {
    --padding-rating: 18px;
}

.rating {
    margin-top: 24px;
    border: 1px solid #e0e0e0;
    padding: var(--padding-rating);
    border-radius: 4px;
    position: relative;
}

.rating__title {
    font-size: 24px;
    margin-bottom: 12px;
}

.rating__content {
    display: block;
    border: none;
    outline: none;
    height: 80px;
    width: 100%;
}

.rating__content:focus-within+.rating__line {
    // color: rgb(101, 101, 224);
    // border-bottom: 1px solid rgb(101, 101, 224);
    display: block;
}
.rating__content:focus::placeholder {
    color: rgb(101, 101, 224);
}

.rating__line {
    position: absolute;
    width: calc(100% - (var(--padding-rating) * 2 ));
    height: 1px;
    background-color: rgb(101, 101, 224);
    color: rgb(101, 101, 224);
    top: 120px;
    display: none;
}

.rating__btn {
    display: flex;
    justify-content: end;
}


// component Punish
.punish {
    background-color: #e3f2fd;
    padding: 24px 20px;
    width: 100%;
    border-radius: 4px;
}

.punish__img {
    width: 100%;
    background-color: var(--white-color);
    height: 346px;
    display: flex;
}

.punish__img img {
    margin: 48px auto;
    justify-content: center;
}

.punish__info {
    text-align: center;
}

.punish__info h2 {
    color: #4285f4;
    font-size: 24px;
    margin-top: 24px;
}

.punish__info h1 {
    color: #4285f4;
    font-size: 50px;
    margin-top: 12px;
}

.projects {
    margin-top: 24px;
    border-radius: 2px;
    overflow: hidden;
}

.projects h1 {
    color: var(--white-color);
    background-color: #007BFF;
    width: 100%;
    text-align: center;
    padding: 12px 0;
}

.project__list {
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.project__list li {
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 12px 20px;
}

.project__list li h2 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}

.project__list h5,
.project__list p {
    color: #212529;
    font-size: 15px;
    line-height: 1.3;
}