.menu {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1000000;
   height: 2000px;
}

.menu__icon {
   display: flex;
   justify-content: space-between;
   background-color: #97bfe4;
   height: var(--height-menu);
   align-items: center;
   color: var(--white-color);
   font-size: 14px;
   width: 100%;
   padding: 24px;
}

.menu__list {
   background-color: #97bfe4;
   padding-left: 28px;
}

.menu__list a {
   cursor: pointer;
   color: var(--white-color);
   display: block;
   padding: 6px 0;
}